#landing-name {
  width: 50%;
  margin: 0 auto;
}

#header {
  background-image: url("../../images/healthtech.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  color: #ff7675;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 21px;
  color: black;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
  background: transparent;
  color: #32ff7e;
}

.jumbotron {
  margin: 0 auto;
  font-size: 80px;
  text-align: center;
  height: 100vh;
  background-color: white;
}

.text {
  margin: 300px auto;
  width: 50%;
  padding: 10px;
  font-weight: bold;
}

.black {
  background-color: white;
  border: 1px solid black;
}


.typed-cursor {
       opacity: 1;
       animation: blink .7s infinite;
       color: #32ff7e;
   }

   @keyframes blink {
       0% {
           opacity: 1;
       }
       50% {
           opacity: 0;
       }
       100% {
           opacity: 1;
       }
   }
