/*//////////////////////////////////////////
                  Navbar
//////////////////////////////////////////*/
.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: black;
  border-bottom: transparent;
  opacity: 0.984;
  margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-header {
    border-bottom: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  border-radius: 0;
  float: left;
  margin-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  border-radius: 0;
  height: 3px;
}

/*//////////////////////////////////////////
                  Header
//////////////////////////////////////////*/
.jumbotron {
  margin: 0 auto;
  color: white;
  font-size: 84px;
  text-align: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/pic.jpg");
  background-attachment: fixed;
}

.container {
  width: 100%;
}

/*//////////////////////////////////////////
                  Typed.JS
//////////////////////////////////////////*/

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: -5px 4px 2px rgba(0,0,0,0.6);
}

.typed-cursor {
  opacity: 1;
  animation: blink .7s infinite;
  color: black;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*/////////////////////////////////////////
                  About Me
//////////////////////////////////////////*/
#About {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

#About p {
  font-size: 20px;
  text-align: left;
}

#resume {
  background-color: #ff4757;
  border-radius: 5px;
  color: white;
  padding: 2px 4px;
  text-decoration: none;
}

#resume:hover {
  background-color: #2ed573;
}

.details h1 {
  font-weight: bold;
}

.details h2 {
  font-weight: 600;
}

.image-link {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  transition: all .9s ease;
  opacity: 0;
  background-color: #eee;
  border-radius: 4px;
}

.col-lg-2:hover .overlay {
  opacity: .8;
}

.overlay-left {
  height: 180px;
  width: 0;
  top: 0;
  bottom: 0;
  background-color: black;
}

.message {
  color: white;
  position: absolute;
  text-align: center;
  margin: 50% 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.col-lg-2:hover .overlay-left{
  width: 180px;
}

h3{
  color: #ff4757;
  border-left: 5px solid #f1f2f6;
  padding-left: 5px;
}
/*/////////////////////////////////////////
              Work Experience
//////////////////////////////////////////*/
#Work {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

#Work p {
  font-size: 20px;
  text-align: left;
}

/*/////////////////////////////////////////
                Projects
//////////////////////////////////////////*/
#Projects {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

#Projects p {
  font-size: 20px;
  text-align: left;
}

/*/////////////////////////////////////////
                  Leadership
//////////////////////////////////////////*/
#Leadership {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

#Leadership p {
  font-size: 20px;
}

/*/////////////////////////////////////////
                Contact Me
//////////////////////////////////////////*/
#Contact {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
}

.contact {
  text-align: center;
}

.fa-linkedin-in {
  color: #ff6b6b;
}

.fa-github-alt {
  color: #48dbfb;
}

.fa-envelope {
  color: #feca57;
}


i {
  font-size: 100px;
  margin: 0 100px 0 100px;
  color: #6F1E51;
  text-align: center;
}

i:hover {
  color: #2f3640;
}

/*/////////////////////////////////////////
                Footer
//////////////////////////////////////////*/

#Footer {
  margin: 40px auto 0 auto;
  text-align: center;
}

/*/////////////////////////////////////////
             Media Queries
//////////////////////////////////////////*/

@media screen and (max-width: 1650px) {
  i {
    margin: 0 50px 0 50px;
  }
}

@media screen and (max-width: 1204px) {
  i {
    margin: 0 20px 0 20px;
  }
}


@media screen and (max-width: 992px) {

  #About {
    width: 100%;
  }

  #Work {
    width: 100%;
  }

  #Projects {
    width: 100%;
  }

  #Leadership {
    width: 100%;
  }

  #Contact {
    width: 100%;
  }
}


@media screen and (max-width: 650px) {
  .jumbotron {
    font-size: 5em;
  }

  .details p {
    font-size: 15px;
  }

  #About {
    width: 100%;
  }

  #Work {
    width: 100%;
  }

  #Projects {
    width: 100%;
  }

  #Leadership {
    width: 100%;
  }

  #Contact {
    width: 100%;
  }

  i {
    font-size: 80px;
  }

}
@media screen and (max-width: 480px) {
  .jumbotron {
    font-size: 4em;
  }

  .details h1 {
    font-size: 25px;
  }
  .details h2 {
    font-size: 20px;
  }

  .details p {
    font-size: 15px;
  }

  #About {
    width: 100%;
  }

  #Work {
    width: 100%;
  }

  #Projects {
    width: 100%;
  }

  #Leadership {
    width: 100%;
  }

  i {
    font-size: 50px;
  }

}

@media screen and (max-width: 360px ) {

  i {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px ) {

  .jumbotron {
    font-size: 4em;
  }

  .details h1 {
    font-size: 15px;
  }
  .details h2 {
    font-size: 12px;
  }

  .details p {
    font-size: 10px;
  }

}
